body{
	background-color: #000;
}

#logo{
	color: white;
	font-family: 'Maiden Orange', arial, sans-serif;
    font-weight: normal;
    font-size: 280%;
    margin: 0 auto;
    width: 300px;
    text-align: center;
}