body{
	background-image: url("/public/images/background.jpeg");
	color: white;
	font-family: 'Irish Grover', arial, sans-serif;
}

#logo{
    font-weight: normal;
    font-size: 280%;
    margin: 0 auto;
    width: 300px;
    text-align: center;
}