#{extends 'main.html' /}
#{set title:'Loterika' /}

#{set 'moreScripts'}
<link href="@{'/public/stylesheets/lottery.css'}" rel="stylesheet" media="screen">
#{/set}
<div id="logo">
	<h1>Loterika</h1>
</div>
<div class="lottery">
	<div class="${lottery.lotteryType.name.toLowerCase()}">
		<div class="type">${lottery.lotteryType.name}</div>
		<div class="number">${lottery.number}</div>
		<div class="result">
			<ul>
				#{list items:lottery.result, as:'result'}
					<li>${result.number}</li>
				#{/list}
			</ul>
		</div>
	</div>
</div>